{% extends 'home/index.html' %}
{% block user_filters %}
 <h2>Select your options</h2>
	   <form action="" method="post">
           {% csrf_token %}
            Select City:<select name="city">
                     {% for City in City_list %}
                            <option>{{ City.name }}</option></li>
                       {% endfor %}
            </select>
            Select Neighborhood : <select name="neighborhood">
                    <option>All</option>
                     {% for Neighborhood in Neighborhood_list %}
                            <option>{{ Neighborhood.name }}</option></li>
                     {% endfor %}
                                </select>
            Since: <select name="daysago">
                    <option>3</option>
                    <option>7</option>
                    <option>15</option>
                    <option>30</option>
                                </select> day ago
        <button>Submit</button>
       </form>
        <br/>
         <h2>Here is what is being reported in your area</h2>
        {% csrf_token %}
        <table summary="Tweets" border="1">
            <tr><th>Count</th><th>Datetime</th><th>Tweet</th><th>Source</th><th>RetweetCount</th></tr>
            {% for tweet in tweetlist %}
             <tr><td>{{ forloop.counter }}</td><td>{{ tweet.createddate }}</td><td>{{ tweet.tweettext }}</td>
                 <td>{{ tweet.user.username }}</td><td>{{ tweet.retweetcount }}</td></tr>
            {% endfor %}
        </table>
{% endblock %}